.ui-product-item {
    display: block;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px;
    height: 80px;
}
.ui-product-item .icon {
    float: left;
    margin-top: .725rem;
}
.ui-product-item .icon img {
    width: 3.8rem;
    height: 3.8rem;
    border: 1px solid #ddd;
}
.ui-product-item .detail {
    margin-top: .6rem;
    margin-left: 4.425rem;
}
.ui-product-item .detail .title {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 11rem;
	padding: 0;
    margin: 0;
}
.ui-product-item .detail .grid-2 {
}
.ui-product-item .detail .grid-2 .grid-item {
    float: left;
    white-space: nowrap;
}
.ui-product-item .detail .profit {
    color: #69f;
}
.ui-product-item .detail .dt-info {
    height: 1.35rem;
    line-height: 1.35rem;
    color: #999;
}
.ui-product-item .detail .tag {
    color: #69f;
    border: 1px solid #69f;
    padding: 1px 2px;
	color:#35d785;border:1px solid #35d785;
}